*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Sans Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

/*color background*/   
     --clr-light: #ffffff;
     --clr-dark: #303030;
     --clr-accent: #69579d;
     /*#8f6fec*/
     --clr-bg:#8e6fec4f;

     --fs-h1: 3rem;
     --fs-h2:2.25rem;
     --fs-h3:1.25rem;
     --fs-body:1rem;

}
/*-------------------------------Fix Widths----------------------*/
@media (min-width:799px) {
    .home, #services, .About-Me, .myWork {
        max-width: 750px;
    }
}

@media (min-width:600px) {
    .home, #services, .About-Me, .myWork {
        max-width: 654px;
    }
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
    .home, #services, .About-Me, .myWork {
        min-width: 949px;
    }

}

@media (max-width:600px) {
    * {
     max-width:600px
    }

    .giflogo {
        max-width: 45vw !important;
     }

}

@media (min-width: 600px) {
    .home {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    #puppy {
        grid-area: img;
        max-width: 250px;
        position: relative;
        z-index: 2;
        max-width: 20rem;
    }
    
    .homeSectionSub {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
    .ServicesSect{
        width:949px;
        margin: 0 auto;
    }
    .ServicesSect, .servicesBoxes, .servicesTitle, .btn {
        margin: auto auto auto auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

@media (max-width:600px) { 
    nav > ul {
        padding-right: 50px;
    }


}



}

@media (max-width:800px) {
    .About-Me {
        max-width: 654px !important;
    }
}

@media (max-width:550px) {
    .home, #services, .About-Me, .myWork {
       max-width: 550px;
    }

    .About-Me {
        max-width: 530px !important;
    }
}

@media (max-width: 700px)  {
    .About-Me {
        min-width: auto !important;
    }
}

@media (max-width: 600px)  {
    .About-Me {
        width:auto !important;
        width:100vw;
    }
}


@media (max-width:498px){
    .home, #services, .About-Me, .myWork {
        width:100vw
}
.meBody {
    max-width: 100rem;
}
}
/*-
@media (max-width: 499px)  {
    .About-Me{
        min-width: 101vw !important;
    }
}

@media (max-width: 400px)  {
    .About-Me {
        min-width: 101vw !important;
    }
}
/*--------------------------------------Styling ---------------------------------------*/

#puppy {
    overflow: hidden !important;
    max-width: 300px !important;
}


body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

strong {
    font-weight: var(--fw-bold);
}

img, i {
    display: block;
}

ul {
    list-style: none;
    font-weight: var(--fw-bold);
    
}

a {
    color:var(--clr-txt);
    text-decoration: none;
}

#puppy {
    max-width: 28rem;
}

h1, 
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    color: var(--clr-txt);
}

.homeSectionSub , .meSub {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
}

.title {
    margin-bottom: .25em;
}

.homeTitleIntro {
    font-weight: var(--fw-reg);
}

.homeTitleIntro strong {
    display: block;
    font-size: 1.1em;
}

.home {
    background-color: var(--clr-bg);
    border-radius: 25px 25px 0 0;
    max-width: 949px;
}

section {
    padding: 5em 2em;
}

.giflogo {
    margin-left: 1vw;
    max-height: 28vh;
    max-width: 28vw;
    margin:auto;
    margin-bottom: -1em;
    margin-top: .8em;
}


html {
    scroll-behavior: smooth;
}

/*----------------------------------------------------------------NAVIGATION-------------*/


.nav-full {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.navbar {
    position: fixed;
    background-color: rgba(87, 66, 117, 0.97);
    color: #212121;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1);
}

.navlist {
    display: flex;
    flex-direction: column;
    height: 80%;
    margin-top: 10%;
    justify-content: space-evenly;
}
nav ul{
   display: flex;
   width: 100%;
   justify-content: space-between;
   max-width: 75rem;
   margin: auto;
   font-size: 2em;
}

.navLink:hover {
    color: #3a3250;
    text-decoration: underline;
}


.nav-toggle {
    z-index: 0;
    position: fixed;
    top: 1em;
    right: .5em;
    background: transparent;
    border: 0;
    padding: .25em;
    cursor: pointer;
    z-index:1000
}

.nav-open .navbar {
    transform:translateX(50%);
}

.nav-open .nav-toggle {
}


.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/*----------------------------------------intro section---------------------------------*/

.homeSectionSub {
    text-align: right;
    letter-spacing: 5px;
    padding-right:10% ;
}

.home {
    margin: auto;
}

/*---------------Services -------------------------------------------------------------------------------------------------------
------------------------------------------Make text fitinto a computer, laptop, and phone icon------------*/


.ServicesSect {
    color:rgb(241, 228, 239);
    background-color:var(--clr-accent);
    background-image: url(imgs/pexels-designecologist-1779487.jpg); 
    /*Photo by Designecologist: 
    https://www.pexels.com/photo/silver-imac-displaying-collage-photos-1779487/*/
    background-size:cover;
    text-shadow: 0 1px 5px var(--clr-accent), 
                 1px 0 3px var(--clr-accent),
                 1px 2px 2px #303030, 
                 0px 2px 4px #1c1b1b; ;

    align-items: center;
    margin: auto;
    padding: 2em 5em;
    background-repeat: no-repeat;
    text-align: center;
}

.servicesTitle {
    color:#ad97ef;
    text-shadow:0 1px 2px var(--clr-accent), 
                1px 0 2px var(--clr-accent), 
                0 -1px 4px var(--clr-accent), 
                -1px 0 4px var(--clr-accent) ;
}

.web-span {
    border:2px solid;
    border-bottom-color: var(--clr-accent);
    border-top-color:transparent;
    border-left-color:transparent;
    border-right-color:transparent;
    padding: none;
    width: 12em;
    margin: auto;
    margin-bottom: 8px;
    margin-top: -15px;
}

.servicesBoxes {
    display: flex;
    gap:10px;
    width:100%;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width:800px) {
    .servicesBoxes {
        flex-direction: column;
        align-items: center;
    }
}

#Sbox1 {
    margin-left: -;
}

.servicerow p{
    font-weight: bold;
}

.serviceSpan {
    display: block;
}
.ServiceBox p{
   background-color: rgba(87, 66, 117, 0.59); 
   text-shadow:0 1px 2px var(--clr-accent), 
                1px 0 2px var(--clr-accent), 
                0 -1px 2px var(--clr-accent), 
                -1px 0 2px var(--clr-accent) ;
   line-height: 2rem;
   word-spacing: 1px;
   letter-spacing: .5px ;
   width: 300px;
}

.ServiceBox h3{
    font-weight: var(--fw-bold);
}

#services a {
    font-weight: var(--fw-bold);
}

.web-span {
    display: block;
}

.workbtn {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #212121;
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
   }
   
   .workbtn:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
   }
   
   .workbtn span {
    position: absolute;
   }
   
   .workbtn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
   }
   
   .workbtn:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   .workbtn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
   .workbtn:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   .workbtn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
   }
   
   .workbtn:hover .workbtn > span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   .workbtn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
   .workbtn:hover .workbtn > span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   .workbtn:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
   }
   
   .workbtn > span:active .workbtn:nth-child(1) 
   .workbtn > span:nth-child(2) 
   .workbtn > span:nth-child(2) 
   .workbtn > span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }
   

/*--------------------------------------ABoot Me--------------------------------*/

.About-Me {
    max-width: 749px;
    margin: auto;
    width: ;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: 
    "title img"
    "subtitle img"
    "text img";
    width: 749px;
    border: 2px solid black;
    border-radius: 0 0 25px 25px;
    padding-bottom: 2em;
    background-color: var(--clr-bg);
    row-gap: none;
    column-gap: none;
}

.MeTitle {
    grid-area: title;
    text-align: left;
    width: 50%;
    max-width: 749px;
}

.mePhoto {
    height: 20em;
    position: relative;
    grid-area: img;
    z-index: 2;
    margin-left: -5em ;
    box-shadow: 9px 8px 5px #303030, 2px 5px 8px #303030;
    border-radius: 10px;
}

.meSub { 
    margin-top: auto;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    width: calc(80% + 8.6em);   
    position: relative;
    grid-column: 1 / -1;
    grid-row: 2;
    padding-right: calc(100px + 4em) !important;
    padding: .2em;
    margin-left: -1em;
    padding-left: 1em;
}

.meBody {
    font-weight: var(--fw-bold);
    line-height: 3rem;
    width: 80%;
    max-width: 749px;
    min-width: ;
}

.italic {
    font-style:italic;
}

.meBody > p {
    background-color:var(--clr-bg);
    border-radius: 10px;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

@media (max-width:550){
    .mePhoto{
        margin-top: 20em;
    }
    .meBody, .meBody > p {
        width: 80em;
    }
}

 .meBody > p {
        padding-left: 1em;
        padding-right: 1em;
    }

@media (max-width:900px) {
    .About-Me {
        max-width: 900px;
        display: grid;
        grid-template-areas: 
        "title title"
        "subtitle subtitle"
        "img img"
        "text text";
        row-gap: 4em;
        align-items: center;
        justify-content: center;
    }
    .meBody, .mePhoto, .meSub, .MeTitle {
        margin: auto ;
        padding: auto ;
    }

    .mePhoto {
        grid-area: img;
    }
    .meBody {
        grid-area: text;
    }

   

    .MeTitle {
        grid-area: title;
        text-align: center;
    }

    .meSub {
        grid-area: subtitle;
        width: 80%;
        text-align: center !important;
        margin: auto !important;
        max-height: 6.5em;
        padding-right: 10px !important;
        align-items: center;
        padding-left: 10px !important;
    }

}

/*---------------------My Work---------------
--------Watch portfolio Scrimba transformation ----------*/
.myWork {
    margin: auto;
    text-align: center;
}

.portfolio {
    display: flex;
    justify-content: space-evenly;
    gap:1em;
}

.bottomportbutton, .portbutt {
    cursor: pointer;
}

@media (max-width: 780px) {
    .portfolio {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #portfolioLink, .workimg {
        width: 12em !important;
        height: 12em !important;
        padding: auto !important;
        margin: auto !important;
    }

    footer {
        justify-content: space-evenly;
    }

    .workimg {
        min-height: 120% !important;
        width: auto !important;
    }

  }


.workSubtitle {
    padding-bottom: 2em;
}

.workimg {
    max-width: 30em;
    overflow: hidden ;
    margin: auto;
    min-height: 100%;
    transition: 
        transform 750ms cubic-bezier(.5 , 0 , .5 , 1),
        opacity 250ms linear;
}

.workimg:hover {
    transform: scale(1.2);
    opacity: 100;
    filter: contrast(65%);
}

.img1 {
    width: 120%;
    margin: auto;
}

.img2 {
    width: 280%;
}

#portfolioLink {
    width: 15em;
    overflow: hidden;
    background-color: #303030;
    color: #fff;
    text-align: center;
    width: 10em;
    height: 10em;
    margin-bottom: -4em;
    border-radius: 20px;
    border: 4px ridge var(--clr-accent);
}

.buttondiv {
    margin-top: 6em;
}

.portbutt,
.portbutt::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
}

.portbutt::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "FUll PORTFOLIO";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom:0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

.portbutt:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}


/*--------------------------------Foooter footer scrimba watch --------------------------------*/
footer {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    width: auto;
}



.links {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: auto;
    margin-top: -4em;
    align-items: ;
    width: min-content;
    gap:30%;
    text-align: center;
    margin-left: 39.5%;
} 

/*---.links > li > a, .links > li {
   margin-left:-60%;
 } */
