*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Sans Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

/*color background*/   
     --clr-light: #ffffff;
     --clr-dark: #303030;
     --clr-accent: #69579d;
     /*#8f6fec*/
     --clr-bg:#8e6fec4f;

     --fs-h1: 3rem;
     --fs-h2:2.25rem;
     --fs-h3:1.25rem;
     --fs-body:1rem;

}
/*-------------------------------Fix Widths----------------------*/
@media (min-width:799px) {
    .home, #services, .About-Me, .myWork {
        max-width: px;
    }
}

@media (min-width:600px) {
    .home, #services, .About-Me, .myWork {
        max-width: px;
    }
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
    .home, #services, .About-Me, .myWork {
        min-width: px;
    }

}

@media (max-width:600px) {
    * {
     max-width:px
    }

}

@media (min-width: 600px) {
    .home {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    #animate {
        grid-area: img;
        max-width: 250px;
        position: relative;
        z-index: 2;
        max-width: 20rem;
        opacity: 0;
        padding: auto;
        margin: auto;
    }
    
    .homeSectionSub {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
    .ServicesSect, .servicesBoxes, .servicesTitle, .btn {
        margin: auto auto auto auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

@media (max-width:600px) { 
    nav > ul {
        padding-right: 50px;
    }
    .animate {

    }

}



}

@media (max-width:800px) {
    .About-Me {
        max-width: 654px !important;
    }
}

@media (max-width:550px) {
    .home, #services, .About-Me, .myWork {
       max-width: 550px;
    }

    .About-Me {
        max-width: 530px !important;
    }
}

@media (max-width: 700px)  {
    .About-Me {
        min-width: auto !important;
    }
}

@media (max-width: 600px)  {
    .About-Me {
        width:auto !important;
        width:100vw;
    }
}


@media (max-width:498px){
    .home, #services, .About-Me, .myWork {
        width:100vw
}
.meBody {
    max-width: 100rem;
}
}
/*--------------------------------------Styling ---------------------------------------*/

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

strong {
    font-weight: var(--fw-bold);
}

img, i {
    display: block;
}

ul {
    list-style: none;
    font-weight: var(--fw-bold);
    
}

a {
    color:var(--clr-txt);
    text-decoration: none;
}

h1, 
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    color: var(--clr-txt);
}

.homeSectionSub , .meSub {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
}

@media (max-width: 800px) {
   
}
.title {
    margin-bottom: .25em;
}

.homeTitleIntro {
    font-weight: var(--fw-reg);
    color: var(--clr-dark);
   text-shadow: 4px 2px 1px #927bd8;
}

.homeTitleIntro strong {
    display: block;
    font-size: 1.1em;
}


section {
    padding: 5em 2em;
}


html {
    scroll-behavior: smooth;
}

.home {
    animation: 40000ms ease-in-out infinite color-change;
  }
  
  @keyframes color-change {
    0% {
      background-color: #927bd8;
    }
    15% {
      background-color: var(--clr-accent);
    }
    30% {
      background-color: var(--clr-bg);
    }
    45% {
      background-color:  #927bd8;
    }
    60% {
      background-color: var(--clr-bg);
    }
    75% {
      background-color: var(--clr-accent);
    }
    100% {
      background-color: #927bd8;
    }
  }
/*----------------------------------------intro section---------------------------------*/

.homeSectionSub {
    text-align: right;
    letter-spacing: 5px;
    padding-right:10% ;
    text-shadow: 1px 2px 1px #927bd8;
}

.home {
    margin: auto;
    max-height: 25rem;
    width: 85%;
    margin-bottom: -6px;
    background-color: var(--clr-bg);
    border-radius: 25px 25px 0 0;
}



/*----------------------------------------Port Items---------------------------------*/
.portfolio {
    width: 85%;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: auto;
    padding: 0;
}
.PortItemTitle, .PortItemSub, .seemore {
    color:rgba(245, 245, 220, 0.783);
    text-align: center;
}

.PortItemTitle {
    text-shadow: 2.2px 1px 1.6px #160c33
}

.PortItemSub {
    font-weight:bold;
    font-size:16px;
    text-shadow: 2.2px 1px 1.6px #160c33
}

.seemore {
    overflow: hidden;
    z-index: -100;
    background-color:#605486;
    width: 9em;
    margin: auto;
    padding: auto;
    margin-bottom: 1em;
    border-radius: 4px;
}

.seemore:hover {
    color: #927bd8;
}

.items {
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--clr-accent);
    margin: auto !important;
    padding: 2em;
    border-radius: 0 0 25px 25px;
    background-color:var(--clr-accent);
}

.item {
    width: 25em;
    height: 25em;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    border-radius: 60px;
    background-color: #69579d;
    border:5px #000000;
    border-style: double;
    z-index: 20;
}

/*----------------------------------------Port Items section---------------------------------*/


.portimg {
    transition: 
        transform 750ms cubic-bezier(.5 , 0 , .5 , 1),
        opacity 250ms linear;
}

.portimg:hover {
    transform: scale(1.2);
    opacity: 100;
    filter: contrast(65%);
}

.item1img {
    overflow: hidden ;
    height: 100%;
    margin: auto;
    margin-left: -50%;
}

.item2img {
    overflow: hidden ;
    margin: auto;
    height: 140%;
    margin-left: -40px;
}


.item3img {
    overflow: hidden ;
    height: 120%;
    margin: auto;
    margin-left: -3em;
}

.item4img {
    margin-left:-1em
}

.item5img {
    margin-left:-1em
}

.item6img {
    height:105%;
    padding-left:-2em;
    margin-left: -2em
    
}

.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 90%);
    background: radial-gradient(ellipse at center, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 90%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    box-shadow: 5px 5px 7px rgba(68, 68, 156, 0.699);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }


/*----------------------------------------FOOter section---------------------------------*/
footer {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: auto;
}

#portfolioLink {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    width: 10em;
    height: 10em;
    margin-bottom: -4em;
}

.links {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: auto;
    gap:50px;
    margin-bottom: -30px;
}


@media (max-width: 1100px) {
    .loader {
        left:55% !important;
    }
}

@media (max-width:850px) {
    .loader, .animate {
        color: transparent !important;
        background-color: transparent !important;
        border: transparent !important;
    }
}
.loader {
    position: absolute;
    top: 35%;
    left: 42%;
    z-index: 10;
    width: 160px;
    height: 100px;
    margin-left: -80px;
    margin-top: -50px;
    border-radius: 5px;
    background: #1e3f57;
    animation: dot1_ 3s cubic-bezier(0.55,0.3,0.24,0.99) infinite;
  }
  
  .loader:nth-child(2) {
    z-index: 11;
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
    border-radius: 3px;
    background: #3c517d;
    animation-name: dot2_;
  }
  
  .loader:nth-child(3) {
    z-index: 12;
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 0 5px 5px;
    background: #6bb2cd;
    animation-name: dot3_;
  }
  
  @keyframes dot1_ {
    3%,97% {
      width: 160px;
      height: 100px;
      margin-top: -50px;
      margin-left: -80px;
    }
  
    30%,36% {
      width: 80px;
      height: 120px;
      margin-top: -60px;
      margin-left: -40px;
    }
  
    63%,69% {
      width: 40px;
      height: 80px;
      margin-top: -40px;
      margin-left: -20px;
    }
  }
  
  @keyframes dot2_ {
    3%,97% {
      height: 90px;
      width: 150px;
      margin-left: -75px;
      margin-top: -45px;
    }
  
    30%,36% {
      width: 70px;
      height: 96px;
      margin-left: -35px;
      margin-top: -48px;
    }
  
    63%,69% {
      width: 32px;
      height: 60px;
      margin-left: -16px;
      margin-top: -30px;
    }
  }
  
  @keyframes dot3_ {
    3%,97% {
      height: 20px;
      width: 40px;
      margin-left: -20px;
      margin-top: 50px;
    }
  
    30%,36% {
      width: 8px;
      height: 8px;
      margin-left: -5px;
      margin-top: 49px;
      border-radius: 8px;
    }
  
    63%,69% {
      width: 16px;
      height: 4px;
      margin-left: -8px;
      margin-top: -37px;
      border-radius: 10px;
    }
  }